*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(220, 226, 231) ;
}


#heading{
    background-color: rgb(6, 5, 5);
    color: white;
    padding: 10px ;
}

#input_box{
    text-align: center;
}


#text_to_translate{
    width: 80%;
    height: 200px;
    margin: 20px auto;

    padding: 15px;
    font-size: 18px;
    font-family: Arial, sans-serif;

    border: 2px solid #333;
    border-radius: 15px;

    background-color: white;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    resize: vertical;

    outline: none;
}

#btn{
    height: 50px;
    width: 200px;
    background-color: red;
    color: white;
    margin-bottom: 10px;
}


#translated_text{

    width: 80%;
    min-height: 200px;
    margin: 20px auto;
    padding: 15px;

    background-color: white;
    border: 2px solid black;
    border-radius: 15px;

    font-size: 18px;
    text-align: left;
}

hr {
    height: 3px;
    background-color: black;
}